body {
	background-color: #282828;
	color: #ebdbb2;
	font-family: "DejaVu Sans Mono", monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

h1 {
	font-size: 3rem;
}

p {
	font-size: 1.5rem;
}

code {
	font-size: 1.5rem;
	background-color: #3c3836;
	border-radius: 5px;
}

a, a:active, a:visited {
	color: #b16286;
}

hr {
	width: 100%;
	border: 0;
	border-top: 1px solid #3c3836;
	margin: 1rem 0;
}

